<?php
$now = time();
?>
<script>
  window.addEventListener('load', () => {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>
<style>
  .cannot-finish {
    color: red;
  }
</style>
<h2>Welcome <?=$participant->firstName?>!</h2>

<div>
  <h4>Invitations</h4>
  <?=$participantInvitations?>
</div>
<hr />

<?php
if (!empty($judged)){
  include(PHPWS_HOME_DIR . 'mod/award/templates/Participant/Dashboard/Judges.html');
}
?>

<h4>Nominations</h4>
<?php
if (!empty($nominations)):
include(PHPWS_HOME_DIR . 'mod/award/templates/Participant/Dashboard/Nominations.html');
else:
?>
<p><em>No nominations.</em></p>
<?php endif;?>

<h4>References</h4>
<?php
if (!empty($references)):
include(PHPWS_HOME_DIR . 'mod/award/templates/Participant/Dashboard/References.html');
else:
?>
<p><em>No references.</em></p>
<?php endif;?>