<h2>Welcome <?=$participant->firstName?>!</h2>
<div>
  <h4>Invitations</h4>
  <?=$participantInvitations?>
</div>
<hr />

<h4>Upcoming deadlines</h4>
<?php if (!empty($judged)):?>
<?php foreach ($judged as $j):?>
<div><span class="badge badge-info mr-2 text-white">Judge</span>Voting starts for <strong><a href="./award/User/Award/<?=$j['id']?>"><?=$j['title']?></a></strong> on <?=$j['endDate']?>.</div>
<?php endforeach;?>
<?php endif;?>


<hr />

<h4>Current awards</h4>
<?php if (!empty($upcomingCycles)):?>
<?php foreach ($upcomingCycles as $c):?>
<div>
  <strong><a href="./award/User/Award/<?=$c['id']?>"><?=$c['title']?></a></strong> nominations available until <?=$c['endDate']?>.
  <?php if ($trusted):?>
  <a class="btn btn-sm btn-primary" href="./award/Participant/Nomination/nominate/?cycleId=<?=$c['id']?>">Nominate!</a>
  <?php endif;?>
</div>
<?php endforeach;?>
<?php endif;?>