<div class="float-right"><a href="<?=$logoutUrl?>"><i class="fas fa-sign-out-alt"></i></a></div>
<ul class="nav nav-tabs mb-3">
  <li class="nav-item">
    <a class="nav-link<?=$active === 'dashboard' ? ' active':null?>" <?=$active === 'dashboard' ? 'aria-current="page"' : null?> href="./award/Participant/Participant/dashboard">Dashboard</a>
  </li>
  <li class="nav-item">
    <a class="nav-link<?=$active === 'nomination' ? ' active':null?>" <?=$active === 'nomination' ? 'aria-current="page"' : null?> href="./award/Participant/Nomination/nominate">Nominations</a>
  </li>
</ul>