<!--
$tpl['nominationComplete'] = (bool) $nomination->completed;
-->

<style>
  .nomination {
    padding: 6px;
    font-size: 20px;

  }

  .nomination .status {
    padding: 8px;
    margin-bottom: 6px;
  }

  .nomination .status.complete {
    background-color: rgb(96, 184, 96);
    color: white;
  }

  .nomination .status.incomplete {
    background-color: rgb(255, 93, 93);
    color: white;
  }

  .nomination .status.incomplete a {
    color: white;
  }
</style>

<div class="nomination">
  <h2>Nomination Status</h2>
  <p>You are nominating <?=$firstName?> <?=$lastName?> for the <?=$awardTitle?>.</p>
  <?php if ($canComplete):?>
  <p>It looks like you are ready to complete your nomination! Click the Submit my nomination button below.</p>
  <?php if ($approvalRequired):?>
  <p>Your nomination will require approval after completion.</p>
  <?php else:?>
  <p>Your nomination will be pre-approved upon completion!</p>
  <?php endif;?>
  <p><a class="btn btn-primary btn-block" href="./award/Participant/">Submit my nomination</a></p>

  <?php else:?>
  <p>Your nomination needs a little work. Click on the links in the red boxes to complete the conditional requirements.</p>
  <?php endif;?>
  <?php if ($reasonRequired) {
    include(PHPWS_HOME_DIR . 'mod/award/templates/Participant/NominationStatus/Reason.html');
  }?>
  <?php if ($referencesRequired) {
    include(PHPWS_HOME_DIR . 'mod/award/templates/Participant/NominationStatus/References.html');
  }?>


</div>