<!--
$tpl['nominationComplete'] = (bool) $nomination->completed;
-->

<style>
  .nomination {
    padding: 6px;
    font-size: 20px;

  }

  .nomination .status {
    padding: 8px;
    margin-bottom: 6px;
  }

  .nomination .status.complete {
    background-color: rgb(96, 184, 96);
    color: white;
  }

  .nomination .status.incomplete {
    background-color: rgb(255, 93, 93);
    color: white;
  }

  .nomination .status.incomplete a {
    color: white;
  }
</style>

<div class="nomination">
  <h2>Complete your nomination</h2>
  <p>You are nominating <?=$firstName?> <?=$lastName?> for the <?=$awardTitle?>.</p>
  <?php if ($canComplete):?>
  <p>It looks like you are ready to complete your nomination! Click the Submit my nomination button below.</p>
  <?php if ($approvalRequired):?>
  <p>Your nomination will require approval after completion.</p>
  <?php else:?>
  <p>Your nomination will be pre-approved upon completion!</p>
  <?php endif;?>
  <button class="btn btn-outline-dark">Submit my nomination</button>
  <?php else:?>
  <p>Your nomination needs a little work. Click on the links in the red boxes to complete the conditional requirements.</p>
  <?php endif;?>
  <?php if ($reasonRequired):?>
  <?php if (!$reasonComplete):?>
  <div class="status incomplete"><a href="./award/Participant/Nomination/<?=$nominationId?>/reason/"><i class="fas fa-times"></i> Missing nomination reason.</a></div>
  <?php else:?>
  <div class="status complete">
    <i class="fas fa-check"></i>
    Nomination reason complete! <a class="ml-5 btn border-white  text-white" href="./award/Participant/Nomination/<?=$nominationId?>/reason/">Update</a>
  </div>
  <?php endif;?>
  <?php endif;?>
  <?php if ($referencesRequired):?>
  <?php if (!$referencesSelected):?>
  <div class="status incomplete">
    <a href="./award/Participant/Nomination/<?=$nominationId?>/reference/">
      <i class="fas fa-times"></i>
      References not selected.</a>
  </div>
  <?php else:?>
  <div class="status complete">
    <i class="fas fa-check"></i>
    References selected!
  </div>
  <?php endif;?>
  <?php endif;?>

</div>