<ul class="nav nav-tabs mb-3">
  <li class="nav-item">
    <a class="nav-link<?=$active === 'dashboard' ? ' active':null?>" aria-current="page"
      href="./award/Admin/Dashboard">Dashboard</a>
  </li>
  <li class="nav-item">
    <a class="nav-link<?=$active === 'award' ? ' active':null?>" aria-current="page"
      href="./award/Admin/Award">Awards</a>
  </li>
  <li class="nav-item">
    <a class="nav-link<?=$active === 'participant' ? ' active':null?>" aria-current="page"
      href="./award/Admin/Participant">Participants</a>
  </li>
  <li class="nav-item">
    <a class="nav-link<?=$active === 'settings' ? ' active':null?>" aria-current="page"
      href="./award/Admin/Setting">Settings</a>
  </li>
</ul>