<div class="row">
  <div class="mx-auto col-sm-10 col-md-6">
    <div class="card">
      <div class="card-header bg-primary text-white">
        <h2 class="m-0 text-center">New award complete</h2>
        <h4 class="m-0 text-center"><?=$title?></h4>
      </div>
      <div class="card-body">
        <p class="card-text"><a class="btn btn-outline-primary btn-block"
            href="./award/Admin/Cycle/create/?awardId=<?=$id?>">Create a new cycle for this award</a>
        </p>
        <p class="card-text"><a class="btn btn-outline-primary btn-block" href="./award/Admin/Award/">Go to the award
            list</a></p>
      </div>
    </div>
  </div>
</div>