<p>Hello <?=$invited->firstName?>,</p>

<p>You have been invited to be an award judge.</p>

<ul>
  <li>Award: <?=$award->title?></li>
  <li>Nomination begins: <?=$cycle->formatStartDate()?></li>
  <li>Nomination deadline: <?=$cycle->formatEndDate()?></li>
</ul>

<p>After the deadline, you will be asked to review nominations and then vote for one or more winners.</p>

<p>Please <a href="<?=$signIn?>">go to the award website</a>, sign in, and either accept or refuse the invitation.</p>

<p>Thank you,<br /><?=$contactName?></p>