<div class="row">
  <div class="mx-auto col-sm-8 col-md-5">
    <div class="card shadow">
      <div class="card-header bg-success text-white">
        <h2 class="m-0 text-center">Create Account</h2>
      </div>
      <div class="card-body">
        <h3><?=$email?></h3>
        <p class="card-text">Since you are logged in, you can create your participant account by clicking the button
          below.</p>
        <div><a href="<?=$signUpLink?>" class="btn btn-lg btn-block btn-primary">Sign me up as a participant!</a></div>
      </div>
    </div>
  </div>
</div>