<div class="row">
  <div class="mx-auto col-sm-10 col-md-6">
    <div class="card">
      <div class="card-header bg-primary text-white">
        <h2 class="m-0">Create an account</h2>
      </div>
      <div class="card-body">
        <p class="card-text">Creating an account will allow you to request an award, nominate people, serve as a
          reference
          and judge winners.
        </p>

        <div class="sign-in-block">
          <?php
         if (!empty($signinButtons)):
         ?>
          <p>You can quickly create an account by authenticating using the following sources:</p>
          <?php
         foreach ($signinButtons as $button):?>
          <div><?=$button?></div>
          <?php endforeach;?>
          <?php endif;?>
        </div>
        <hr />
        <p>If you cannot authenticate, create an account by entering the information below.</p>
        <div id="SignUpForm"></div>
      </div>
    </div>
  </div>
</div>