<div class="row">
  <div class="mx-auto col-sm-10 col-md-6">
    <div class="card">
      <div class="card-header bg-primary text-white">
        <h2 class="m-0">Create an account</h2>
      </div>
      <div class="card-body">
        <p class="card-text">Creating an account will allow you to request an award, nominate people, serve as a
          reference
          and judge winners.
        </p>

        <div class="sign-in-block">
          <p>
            Are you an
            university
            student, staff, or faculty
            member?
          </p> <a href="./secure" class="btn btn-dark btn-block"> Click here to use Single Sign
            In</a>
        </div>
        <hr />
        <p>If you are not part of the university, you can create an account below.</p>
        <div id="SignUpForm"></div>
      </div>
    </div>
  </div>
</div>