<div class="row">
  <div class="mx-auto col-sm-10 col-md-6">
    <div class="card">
      <div class="card-header bg-success text-white">
        <h2 class="m-0">Account Request Received!</h2>
      </div>
      <div class="card-body">
        <p class="card-text">Thank you for requesting a new account. We have sent you an email with a confirmation link.
        </p>
        <p class="card-text"><strong>Your account is not activated until you click the link in your email.</strong></p>
        <ul>
          <li><a href="./award/User/Participant/signIn">Go to the sign in page.</a></li>
          <li><a href="./">Go to the home page.</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>