<div class="row">
  <div class="mx-auto col-sm-10 col-md-6">
    <div class="card">
      <div class="card-header bg-danger text-white">
        <h2 class="m-0">Oof!</h2>
      </div>
      <div class="card-body">
        <p class="card-text">Something really wrong occurred. <a href="mailto:<?=$contactEmail?>">Please contact us if
            this continues</a>.
        </p>
        <ul>
          <li><a href="./award/User/Participant/signIn">Go to the sign in page.</a></li>
          <li><a href="./">Go to the home page.</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>