<?php if($admin):?>
<a href="./award/Admin/Dashboard">Admin</a>
<?php endif;?>
<div id="award-frontpage" style="background-image: url('<?=$imageHttp?>Award-background.jpg');">
  <div class="card">
    <div class="card-header bg-dark text-white">
      <h1 class="m-0">Welcome to Awards!</h1>
    </div>
    <div class="card-body">
      <p class="lead">We can help you create and administrate awards for<br />students, faculty, and staff.</p>
    </div>
    <div class="card-footer text-muted">
      <?php if ($signedIn):?>
      <a href="./award/Participant/Participant/dashboard" class="btn btn-success">Go to my dashboard</a>
      <a href="./award/Participant/Participant/signout" class="btn btn-danger">Sign out</a>
      <?php else:?>
      <a href="./award/User/Participant/signIn" class="btn btn-success">Sign in to see your dashboard</a>
      <a href="./award/User/Participant/createAccount" class="btn btn-primary">First time here? Create an account</a>
      <?php endif;?>
    </div>
  </div>
</div>