<div class="row">
  <div class="mx-auto col-sm-8 col-md-5">
    <div class="card shadow">
      <div class="card-header bg-warning text-white">
        <h2 class="m-0 text-center">Not Logged In</h2>
      </div>
      <div class="card-body">
        <div class="mb-3 text-center">
          <p>You cannot continue because you are not logged in.</p>
          <a class="btn btn-lg btn-primary" href="<?=$loginLink?>">Go to the university log in</a>
        </div>
      </div>
    </div>
  </div>
</div>