<div>
  <p>By clicking the red button below, you are declining to join this site.</p>
  <p>After doing so, you will receive no further invitations and will not be eligible
    to be a nominator, reference, or judge.</p>

  <div class="text-center">
    <a class="btn btn-outline-danger m-2" href="./award/User/Invitation/<?=$invitation->getId()?>/finalRefusal/">I am not interested in becoming an award participant</a>
    <a class="btn btn-outline-success m-2" href="./award/User/Participant/createAccount">I changed my mind, I want to sign up</a>
  </div>
</div>